<div style="text-align:center">
  <br>
  <h1>
    Aprendamos Angular Top Tech
  </h1>

  <h3>Este es un ejemplo de un ngSwitch</h3>

  <mat-radio-group name="opciones" [(ngModel)]="ejemploSeleccionado">
    <mat-radio-button *ngFor="let op of ejemplosDisponibles" name="opciones" [value]="op"  style="margin: 10px">
      {{op}}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div class="container" [ngSwitch]="ejemploSeleccionado">
  <app-ngfor-example *ngSwitchCase="'ngFor Ejemplo Tabla con material'"></app-ngfor-example>
  <app-ngfor-example-witouth-material *ngSwitchCase="'ngFor Ejemplo Tabla sin material'"></app-ngfor-example-witouth-material>
</div>
